HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

**/target/

**/__pycache__

douban
douban_log


__pycache__


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

#秘钥
*.pfx
*.p12
*key.yml
*.yml

out/

**/gitignore/

**/out/

**/backup/

**/private/

**.exe

/cmake-build-debug

**/cmake-build-debug

Debug/

.history/

**/.history/